body {
  padding: 0;
  margin: 0; }

.stt-upload-wrapper .attachments .attachments-item {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px; }
  .stt-upload-wrapper .attachments .attachments-item .stt-attachments-delete {
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    opacity: 0; }
  .stt-upload-wrapper .attachments .attachments-item .stt-attachments-delete:hover {
    opacity: .7;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background: white;
    border-radius: 3px; }

.stt-upload-wrapper .attachments img {
  width: 100px; }

.add-attachments {
  background: #F93434;
  border-radius: 4px;
  color: white;
  text-transform: uppercase; }

#post-infor .stt-submit-text {
  line-height: 29px; }

#posts-filter .wp-list-table #the-list tr.author-self .column-image img.attachment-thumbnail.size-thumbnail.wp-post-image {
  width: 3rem !important;
  height: auto; }

.stt-edit-avatar {
  margin-bottom: 10px; }

.video-img .upload-image {
  margin-bottom: 10px; }
  .video-img .upload-image .thumb {
    margin-bottom: 10px; }
    .video-img .upload-image .thumb img {
      width: 150px;
      height: 150px; }
  .video-img .upload-image a {
    text-decoration: none;
    margin: 10px 0; }
  .video-img .upload-image .add-image {
    margin-right: 10px; }
  .video-img .upload-image .remove-image {
    color: #a00; }
    .video-img .upload-image .remove-image:hover {
      color: #dc3232; }
