/*
Theme Name: Layout Blog
Theme URI: http://layoutblog.com/
Author: the ShineTheme
Author URI: http://shinetheme.com/
Description: Layout Blog WordPress Theme is the most.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-colors, featured-images, theme-options, post-formats
Text Domain: layout-blog
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Alignment
2.0 Caption
3.0 Screen Reader
4.0 Gallery
5.0 Lists
6.0 Components
7.0 Table
*/

/*---- 1.0 ALIGNMENT ----*/
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*---- 2.0 CAPTION ----*/

.wp-caption {
    margin-bottom: 1.6em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
}

.wp-caption-text {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    padding: 0.5em 0;
    text-align: center;
    font-style: italic;
}

/*---- 3.0 SCREEN READER ----*/

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; / Above WP toolbar. /
}

/*---- 4.0 GALLERY ----*/
.gallery {
    margin-bottom: 20px;
}

.gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 48%;
    max-width: -webkit-calc(50% - 4px);
    max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
    max-width: 32%;
    max-width: -webkit-calc(33.3% - 4px);
    max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 4px);
    max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 4px);
    max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.6% - 4px);
    max-width: calc(16.6% - 4px);
}

.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 4px);
    max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 4px);
    max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 4px);
    max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1),
.gallery-columns-4.gallery-size-thumbnail figure.gallery-item:nth-of-type(4n+1) {
    clear: left;
}

.gallery-caption {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 6px 8px;
    position: absolute;
    left: 0;
    text-align: left;
    width: 100%;
    transition: all 0.5s;
    bottom: -100%;
}

.gallery-caption:before {
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
    bottom: 0;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

.gallery:before {
    content: "";
    display: table;
}

.gallery:after {
    clear: both;
}

.gallery:before, .gallery:after {
    content: "";
    display: table;
}

.entry-content .gallery {
    background: transparent;
    min-height: 300px;
}

.bypostauthor {
    font-size: 13px;
}

/*---- 5.0 LISTS ----*/

ul,
ol {
    margin: 0 0 1.5em 15px;
    padding: 0;
}

ul {
    list-style: disc;
}

ul ul{
    list-style-type: circle;
    margin-bottom: 0 !important;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-family: "Avenir Medium";
    margin-bottom: 10px;
}

dd {
    margin: 0 1.5em 1.5em !important;
}

ul li, ol li{
    line-height: 1.8;
}


/*---- 6.0 COMPONENTS ----*/
.page-template-default .stt-content-wrapper:after{
    content: '';
    display: table;
    clear: both;
}

.page-template-default.page table:not(.table){
    margin-bottom: 20px;
}

.page-template-default.page ul:not(.main-menu){
    margin-bottom: 15px;
    padding-left: 20px;
}

.page-template-default.page .stt-breadcrumb ul{
    margin-bottom: 0;
}

.page-template-default.page ol{
    padding-left: 10px;
}

blockquote {
    border-left: 4px solid #eeeeee;
    padding-left: 15px;
}
.wp-block-quote[style*="text-align:right"]{
    border-left: 0;
    padding-left: 0;
    border-right: 4px solid #eeeeee;
    padding-right: 15px;
}

.wp-block-pullquote blockquote{
    border-top: 4px solid #eeeeee;
    border-bottom: 4px solid #eeeeee;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.wp-block-pullquote.is-style-solid-color blockquote{
    border: none;
}

.stt-blog .blog-content .article .post-content ul.wp-block-gallery{
    padding-left: 0;
}

/*---- 7.0 TABLE ----*/
table:not(.table){
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 100%;
}

table:not(.table) tr{

}

table:not(.table) tr th{
    border: 1px solid #eeeeee;
    padding: 10px 5px;
}

table:not(.table) tr td{
    border: 1px solid #eeeeee;
    padding: 11px 5px;

}

.wp-block-spacer{
    clear: both;
}