.st-404-swapper {
  padding: 10rem 10px;
  display: flex;
  align-items: center;

  .st-404-content {
    padding-left: 0;
    @media (max-width: 767px) {
      text-align: center;
    }

    .img-thumbnail {
      border: none;
      padding: 0;
      padding-bottom: 7rem;
    }

    h1 {
      font-size: 4.8rem;
      font-weight: 600;
      font-family: 'FuturaPT-Book' !important;
      padding-bottom: 3.5rem;
    }

    .st-note-err {
      color: #888888;
      font-size: 1.4rem;
      padding-bottom: 4rem;
      margin-bottom: 0;
    }

    .st-comeback {
      font-size: 1.6rem;
      padding: 1rem 2.5rem;
      border: 1px solid #DDDDDD;
      border-radius: 3rem;

      a {
        color: #222222;
      }
    }
  }

  .st-404-image {
    .img-thumbnail {
      border: none;
      padding: 0;
    }
  }
}