.stt-banner {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 250px;
  background-size: cover;
  margin-bottom: 10rem;
  @media (max-width: 1439px) {
    width: 100%;
  }
  @media (max-width: 991px) {
    margin-bottom: 5rem;
  }

  .stt-title {
    h1 {
      font-size: 4.8rem;
      color: #ffffff !important;
      font-weight: 600;
      font-family: 'FuturaPT-Book' !important;
      margin: 0;
      @media (max-width: 767px) {
        font-size: 3rem;
      }
    }
  }
}