.stt-blog {
  position: relative;

  .share-column {
    transform: rotate(90deg);
    color: #777777;
    display: inline-block;
    &.inline{
      transform: none;
      padding-bottom: 3rem;
      .share{
        .share-title:after{
          display: none;
        }
        .share-item{
          svg{
            transform: none;
          }
        }
      }
    }

    .share {
      .share-title {
        position: relative;
        margin-right: 70px;

        &:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 40px;
          background-color: #DDDDDD;
          bottom: -40%;
          right: -100%;
          transform: rotate(90deg);
        }
      }

      .share-item {
        color: #888888;

        .facebook {
          transform: rotate(-90deg);
          margin-right: 20px;
        }

        .twitter {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .stt-breadcrumb {
    padding: 3.5rem 0 4rem 0;
  }

  .stt-blog-content {
    margin-left: -0.5rem;
    position: relative;


    .stt-blog-slider {
      .blog-slider {
        position: relative;

        .Blog-Next {
          position: absolute;
          top: 50%;
          right: 0;
          z-index: 1;
          box-shadow: none;
          border: none;
          background-color: #ffffff !important;
          background: url(../images/Arrows-next.svg) center center no-repeat;
          padding: 2rem;
          border-radius: 50%;
          background-size: 2rem;
          transform: translate3d(50%, -100%, 0);
          outline: none;
          cursor: pointer;
          @media (max-width: 575px) {
            display: none;
          }

          &:hover {
            background-color: #f2c84b !important;
            background: url(../images/Arrows-next.svg) center center no-repeat;
            background-size: 2rem;
          }
        }
      }

      .stt-taxonomy-blog {
        text-transform: uppercase;
        padding: 0 0 0.5rem 0;

        .stt-category {
          float: left;
          font-size: 1.4rem;
          line-height: 2.3rem;
          padding-right: 1rem;

          a {
            color: #d98e04;

            &:hover {
              color: #f2c84b;
            }
          }
        }

        .stt-destination {
          float: left;
          font-size: 1.4rem;
          line-height: 2.3rem;
          padding-left: 1rem;
        }

        a {
          color: #777777;

          &:hover {
            color: #f2c84b;
          }
        }
      }
    }

    .stt-blog-title {
      .blog-title {
        .text-muted {
          margin-top: 1rem;
          margin-bottom: 3rem;
          font-size: 1.4rem;

          .stt-author {
            padding-right: 2rem;
          }
        }
      }
    }

    .blog-content {
      margin-bottom: 5rem;

      p {
        color: #777777 !important;
      }
    }

    .blog-tag {
      overflow: hidden;
      margin-bottom: 5rem;
      @media (max-width: 991px) {
        margin-bottom: 8rem;
      }

      .tag-item {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
        background: #f5f5f5;
        border-radius: 30px;

        .tag-name {
          padding: 0.4rem 1.5rem;

          a {
            color: #222222;

            &:hover {
              color: #f2c84b;
            }
          }
        }
      }
    }

    .author-info {
      margin-bottom: 5rem;
      display: grid;
      grid-template-columns: 20% auto;

      .author-avatar {
        img {
          border-radius: 50%;
          max-width: 100%;
          height: auto;
          border: none;
          box-shadow: none;
          width: 120px;
        }
      }

      .author-content {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .stt-author-infor {
          overflow: hidden;
          margin-bottom: 2rem;

          .author-name {
            float: left;
            margin-bottom: 0;

            span {
              color: #d98e04;
            }
          }

          .contact {
            float: left;
            margin-left: 3rem;
            color: #888888;

            svg {
              path {
                fill: #c4c4c4;
              }
            }

            .ico-item:not(:last-child) {
              margin-right: 2rem;
            }

            .ico-item {
              cursor: pointer;
            }
          }
        }
      }
    }

    .pagination {
      padding: 5rem 0;
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
      margin-bottom: 5rem;

      .post-navigation {
        width: 100%;

        .nav-previous {
          float: left;

          a {
            color: #222222;

            .meta-nav {
              color: #777777;

              img {
                margin-right: 2rem;
              }
            }

            p {
              margin-bottom: 0;
              font-family: 'Lora-Regular'!important;
              font-size: 1.8rem;
              @media (max-width: 767px) {
                display: none;
              }
            }
          }
        }

        .nav-next {
          float: right;

          a {
            color: #222222;

            .stt-next {
              overflow: hidden;

              .meta-nav {
                color: #777777;
                float: right;

                img {
                  margin-left: 2rem;
                }
              }
            }

            p {
              margin-bottom: 0;
              font-family: 'Lora-Regular'!important;
              font-size: 1.8rem;
              float: left;
              @media (max-width: 767px) {
                display: none;
              }
            }
          }
        }
      }
    }

    #comment-wrapper {
      margin-bottom: 10rem;
      clear: both;
      @media (max-width: 991px) {
        margin-bottom: 5rem;
      }

      .comments-area {
        .comments-title {
          font-family: 'Lora-Regular';
          margin-bottom: 2rem;
          font-size: 2rem;
        }

        .comment-list {
          list-style-type: none;
          padding-left: 0;
          margin: 0;
          margin-bottom: 5rem;

          .children {
            list-style-type: none;
            padding-left: 10rem;
          }

          .comment-item-head {
            border: solid 1px #f5f5f5;
            margin-bottom: 2rem;

            .media {
              padding: 2rem 0;

              .media-left {
                margin: 0 2rem;
                img{
                  border-radius: 50%;
                }
              }

              .media-body {
                font-size: 1.6rem;

                .media-user {
                  .media-heading {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 0.5rem;
                    padding-right: 2rem;

                    &:after {
                      position: absolute;
                      content: "";
                      width: 1px;
                      height: 12px;
                      right: 0;
                      top: 50%;
                      transform: translateY(-50%);
                      background-color: #DDDDDD;
                    }
                  }

                  .date {
                    display: inline-block;
                    color: #888888;
                    padding-left: 2rem;
                  }
                }

                .comment-item-body {
                  .comment-content {
                    color: #777777;
                  }

                  .comment-reply {
                    font-weight: 600;

                    a {
                      color: #d98e04;

                      &:hover {
                        color: #f2c84b;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        #respond {
          .comment-reply-title {
            margin-bottom: 3rem;
            font-size: 2rem;

            a {
              color: #222222;
              font-weight: 600;
            }

            small {
              a {
                color: #d98e04;

                &:hover {
                  color: #f2c84b;
                }
              }
            }

            img {
              margin-right: 2rem;
            }

            span {

              color: #222222;
              height: 30px;
            }
          }

          .comment-form {
            .logged-in-as {
              display: none;
            }

            .comment-notes {
              display: none;
            }

            .comment-form-author {
              width: 30%;
              float: left;
              margin-right: 5%;
              margin-bottom: 2rem;

              label {
                display: none;
              }

              input[type="text"] {
                width: 100%;
                height: 4.5rem;
                border: solid 1px #dddddd;
                border-radius: 30px;
                padding-left: 2rem;
                outline: unset;
              }
            }

            .comment-form-email {
              width: 30%;
              float: left;

              label {
                display: none;
              }

              input[type="email"] {
                width: 100%;
                height: 4.5rem;
                border: solid 1px #dddddd;
                border-radius: 30px;
                padding-left: 2rem;
                outline: unset;
              }
            }

            .comment-form-url {
              width: 30%;
              float: right;

              label {
                display: none;
              }

              input[type="url"] {
                width: 100%;
                height: 4.5rem;
                border: solid 1px #dddddd;
                border-radius: 30px;
                padding-left: 2rem;
                outline: unset;
              }
            }

            .comment-form-comment {
              margin-top: 15px;

              label {
                display: none;
              }

              textarea {
                border-radius: 30px;
                border: solid 1px #dddddd;
                width: 100%;
                padding: 15px;
                outline: unset;
              }
            }

            .form-submit {
              text-align: center;

              input {
                padding: 1rem 3rem;
                border: none;
                outline: unset;
                background-color: #f2c84b;
                color: #ffffff;
                border-radius: 30px;
              }
            }
          }
        }
      }
    }
  }
}

.stt-search-blog {
  .list-search-blog {
    .stt-breadcrumb{
      padding: 3.5rem 0 4rem 0;
    }
    .list-search-blog-content {
      margin-left: -20px;
      margin-right: -20px;

      .blog-item {
        margin-bottom: 4rem;

        .thumb {
          overflow: hidden;

          img {
            height: auto;
            max-width: 100%;
            border: none;
            -webkit-border-radius: 0;
            border-radius: 0;
            transition: all .3s;

            &:hover {
              transform: scale(1.1, 1.1);
            }
          }
        }

        .content {
          .stt-taxonomy-blog {
            text-transform: uppercase;
            padding: 1.6rem 0 0.5rem 0;

            .stt-category {
              float: left;
              font-size: 1.4rem;
              line-height: 2.3rem;
              padding-right: 1rem;

              a {
                color: #d98e04;

                &:hover {
                  color: #f2c84b;
                }
              }
            }

            .stt-destination {
              float: left;
              font-size: 1.4rem;
              line-height: 2.3rem;
              padding-left: 1rem;
            }

            a {
              color: #777777;

              &:hover {
                color: #f2c84b;
              }
            }
          }

          h4 {
            line-height: 3rem;

            a {
              color: #222222;

              &:hover {
                color: #f2c84b;
              }
            }
          }

          .text-muted {
            margin-bottom: 1.5rem;

            .stt-author {
              padding-right: 2rem;
            }
          }

          .stt-blog-description {
            color: #777777;
            line-height: 2.3rem;
          }
        }
      }
    }
  }
}

.stt-index-page {
  .stt-list-of-blog {
    .stt-list-blog {
      .card-columns {
        column-gap: 30px;

        .card {
          border-color: transparent;

          .blog-item {
            margin-bottom: 5rem;

            .thumb {
              overflow: hidden;
              margin-bottom: 30px;
              display: block;

              img {
                transition: all 0.2s;
                width: 100%;
                height: auto;
              }
            }

            .content {
              .stt-taxonomy-blog {
                text-transform: uppercase;
                padding: 1.6rem 0 0.5rem 0;

                .stt-category {
                  position: relative;
                  float: left;
                  font-size: 1.4rem;
                  line-height: 2.3rem;
                  padding-right: 1rem;

                  a {
                    color: #d98e04;

                    &:hover {
                      color: #f2c84b;
                    }
                  }

                  &:after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 12px;
                    right: 0;
                    background: #DDDDDD;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                }

                .stt-destination {
                  float: left;
                  font-size: 1.4rem;
                  line-height: 2.3rem;
                  padding-left: 1rem;
                }

                a {
                  color: #777777;

                  &:hover {
                    color: #f2c84b;
                  }
                }
              }

              h4 {
                line-height: 3rem;

                .post-featured {
                  background: #fd566f;
                  color: #fff;
                  font-size: 11px;
                  padding: 5px 10px;
                  border-radius: 4px;
                  line-height: 24px;
                  position: relative;
                  text-transform: uppercase;
                  top: -4px;
                }

                a {
                  color: #222222;

                  &:hover {
                    color: #f2c84b;
                  }
                }
              }

              .text-muted {
                margin-bottom: 1.5rem;

                .stt-author {
                  padding-right: 2rem;
                }
              }

              .stt-blog-description {
                color: #777777;
                line-height: 2.3rem;
              }
            }
          }
        }
      }

      .number-column-3 {
        column-count: 3;
      }

      .number-column-2 {
        column-count: 2;
      }
    }
  }
}

.comment-wrapper {
  padding-bottom: 10rem;
  clear: both;
  @media (max-width: 991px) {
    margin-bottom: 5rem;
  }

  .comments-area {
    width: 80%;
    margin: 0 auto;
    @media (max-width: 767px) {
      width: 100%;
    }

    .comments-title {
      font-family: 'Lora-Regular';
      margin-bottom: 2rem;
      font-size: 2rem;
    }

    .comment-list {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      margin-bottom: 5rem;

      .children {
        list-style-type: none;
        padding-left: 10rem;
      }

      .comment-item-head {
        border: solid 1px #f5f5f5;
        margin-bottom: 2rem;

        .media {
          padding: 2rem 0;

          .media-left {
            margin: 0 2rem;
            img{
              border-radius: 50%;
            }
          }

          .media-body {
            font-size: 1.6rem;

            .media-user {
              .media-heading {
                position: relative;
                display: inline-block;
                margin-bottom: 0.5rem;
                padding-right: 2rem;

                &:after {
                  position: absolute;
                  content: "";
                  width: 1px;
                  height: 12px;
                  right: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  background-color: #DDDDDD;
                }
              }

              .date {
                display: inline-block;
                color: #888888;
                padding-left: 2rem;
              }
            }

            .comment-item-body {
              .comment-content {
                color: #777777;
              }

              .comment-reply {
                font-weight: 600;

                a {
                  color: #d98e04;

                  &:hover {
                    color: #f2c84b;
                  }
                }
              }
            }
          }
        }
      }
    }

    #respond {
      .comment-reply-title {
        margin-bottom: 3rem;
        font-size: 2rem;

        a {
          color: #222222;
          font-weight: 600;
        }

        small {
          a {
            color: #d98e04;

            &:hover {
              color: #f2c84b;
            }
          }
        }

        img {
          margin-right: 2rem;
        }

        span {

          color: #222222;
          height: 30px;
        }
      }

      .comment-form {
        .logged-in-as {
          display: none;
        }

        .comment-notes {
          display: none;
        }

        .comment-form-author {
          width: 30%;
          float: left;
          margin-right: 5%;
          margin-bottom: 2rem;

          label {
            display: none;
          }

          input[type="text"] {
            width: 100%;
            height: 4.5rem;
            border: solid 1px #dddddd;
            border-radius: 30px;
            padding-left: 2rem;
            outline: unset;
          }
        }

        .comment-form-email {
          width: 30%;
          float: left;

          label {
            display: none;
          }

          input[type="email"] {
            width: 100%;
            height: 4.5rem;
            border: solid 1px #dddddd;
            border-radius: 30px;
            padding-left: 2rem;
            outline: unset;
          }
        }

        .comment-form-url {
          width: 30%;
          float: right;

          label {
            display: none;
          }

          input[type="url"] {
            width: 100%;
            height: 4.5rem;
            border: solid 1px #dddddd;
            border-radius: 30px;
            padding-left: 2rem;
            outline: unset;
          }
        }

        .comment-form-comment {
          margin-top: 15px;

          label {
            display: none;
          }

          textarea {
            border-radius: 30px;
            border: solid 1px #dddddd;
            width: 100%;
            padding: 15px;
            outline: unset;
          }
        }

        .form-submit {
          text-align: center;

          input {
            padding: 1rem 3rem;
            border: none;
            outline: unset;
            background-color: #f2c84b;
            color: #ffffff;
            border-radius: 30px;
          }
        }
      }
    }
  }
}

.single {
  .post-featured {
    font-size: 12px;
    top: -4px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 2px 10px;
    background: #fd566f;
    color: #fff;
    border-radius: 4px;
    line-height: 24px;
    position: relative;
  }
}