@font-face {
  font-family: 'FuturaPT-Book';
  src: url(../fonts/FuturaPT-Book.woff) format("woff")
}

/* latin */
@font-face {
  font-family: 'Lora-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Lora-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'FuturaPT-DemiBold';
  src: url(../fonts/FuturaPT-ExtraBold.ttf) format("ttf")
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'FuturaPT-Book', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

::placeholder {
  color: #c4c4c4;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #f2c84b
  }
}

h1 {
  font-size: 3.6rem;
  font-family: 'Lora-Regular' !important;
  font-weight: normal;
  line-height: 1.5;
  color: #222222 !important;
}

h2 {
  font-size: 3.2rem;
  font-family: 'Lora-Regular' !important;
  font-weight: normal;
  line-height: 1.5;
  color: #222222 !important;
}

h3 {
  font-size: 2.6rem;
  font-family: 'Lora-Regular' !important;
  font-weight: normal;
  line-height: 1.5;
  color: #222222 !important;
}

h4 {
  font-size: 2rem;
  font-family: 'Lora-Regular' !important;
  font-weight: normal;
  line-height: 1.5;
  color: #222222 !important;
}

h5 {
  font-size: 1.75rem;
  font-family: 'Lora-Regular' !important;
  font-weight: normal;
  line-height: 1.5;
  color: #222222 !important;
}

h6 {
  font-size: 1.4rem;
  font-family: 'Lora-Regular' !important;
  font-weight: normal;
  line-height: 1.5;
  color: #222222 !important;
}

p {
  font-family: 'FuturaPT-Book' !important;

}

.stt-breadcrumb {
  padding: 3rem 0 4rem 0;

  ul {
    overflow: hidden;
    margin-bottom: 0 !important;
    margin-left: -0.5rem;
    list-style-type: none !important;
    padding: 0 !important;

    li {
      float: left;
      margin-right: 2.8rem;
      position: relative;
      font-size: 1.4rem;
      line-height: 2.1rem;
      text-transform: capitalize;

      a {
        color: #888888;

        &:hover {
          color: #f2c84b;
        }
      }

      &:not(.active):after {
        position: absolute;
        content: "";
        background: url(../images/arrow-right.png) no-repeat;
        width: 8px;
        height: 10px;
        top: 50%;
        transform: translateY(-50%);
        right: -1.8rem;
      }

      &.active {
        margin-right: 0;
        color: #c4c4c4;
      }
    }
  }
}

.stt-pagination {
  display: flex;
  justify-content: center;

  .page-numbers {
    overflow: hidden;

    li {
      float: left;
      list-style: none;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      .page-numbers {
        width: 50px;
        height: 50px;
        display: block;
        color: #7a7a7a;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;

        &:hover {
          background: #f2c84b;
          color: #ffffff;
          border-radius: 50%;
        }
      }

      .current {
        background: #f2c84b;
        color: #ffffff;
        border-radius: 50%;

      }
    }

  }
}





