.stt-content-wrapper {
  .stt-gallery-des {
    margin-bottom: 5rem;
    z-index: 2;

    .stt-gallery {
      .thumb{
        padding-right: 1px;
      }
    }
  }

  .stt-des-infor {
    position: relative;

    .stt-des-title {
      text-align: center;
      margin: 0 auto;
      padding-bottom: 1rem;
      width: 60%;
      @media (max-width: 767px) {
        width: 100%;
        h1{
          font-size: 2.4rem;
        }
      }
    }

    .stt-des-description {
      .stt-description {
        width: 75%;
        margin: 0 auto;
        color: #777777;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }

    .share-column {
      transform: rotate(90deg);
      display: inline-block;
      z-index: 1;
      &.inline{
        transform: none;
        padding-bottom: 3rem;
        text-align: center;
        display: block;
        .share{
          .share-title:after{
            display: none;
          }
          .share-item{
            svg{
              transform: none;
            }
          }
        }
      }
      .share {
        .share-title {
          position: relative;
          margin-right: 70px;

          &:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 40px;
            background-color: #DDDDDD;
            bottom: -40%;
            right: -100%;
            transform: rotate(90deg);
          }
        }

        .share-item {
          color: #888888;

          .facebook {
            transform: rotate(-90deg);
            margin-right: 20px;
          }

          .twitter {
            transform: rotate(-90deg);
          }
        }
      }
    }

    .share-row {
      display: none;
      text-align: center;
      @media (max-width: 767px) {
        display: block;
      }

      .share {
        margin-bottom: 2rem;

        .share-title {
          position: relative;
          margin-right: 70px;

          &:after {
            content: "";
            position: absolute;
            width: 40px;
            height: 1px;
            background-color: #DDDDDD;
            left: 50px;
            top: 50%;
          }
        }

        .share-item {
          color: #888888;

          .facebook {
            margin-right: 20px;
          }
        }
      }
    }
  }

  .stt-tabs-infor-des {
    .stt-title {
      margin-bottom: 6rem;
      border-bottom: 1px solid #DDDDDD;
      text-align: center;

      .stt-title-item {
        display: inline-block;
        padding-bottom: 1rem;
        text-transform: uppercase;

        a {
          color: #000000;

          &:hover {
            color: #f2c84b;
          }
        }
      }

      .active {
        border-bottom: 1px solid #222222;

        a {
          color: #d98e04;
        }
      }

      .stt-title-item:not(:last-child) {
        margin-right: 5rem;
        @media (max-width: 575px) {
          margin-right: 1rem;
        }
      }
    }
  }
}