.elementor-element {
  .elementor-text-editor {
    svg {
      margin-right: 2rem !important;
      cursor: pointer;

      :hover {
        background: #DDDDDD;
      }
    }
  }

  ul {
    list-style-type: circle;
    li{
      font-family: "FuturaPT-Book"!important;
    }
  }
}

.stt-advertisement {
  @media (max-width: 767px) {
    display: none;
  }
}

.stt-video-heading {
  margin-left: 8rem;
  margin-bottom: 2.5rem;
  position: relative;
  @media (max-width: 991px) {
    margin-left: 0;
  }

  .elementor-widget-container {
    h4 {
      font-weight: normal;
      line-height: 3.5rem;
    }
  }

}

.stt-video-heading:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background: #dddddd;
  right: 50%;
  transform: translateX(50%);
}

.stt-travel-video {
  padding-left: 8rem;
  padding-bottom: 6rem;
  @media (max-width: 991px) {
    padding-left: 0;
    padding-bottom: 3rem;
  }

  .eicon-play {
    font-size: 5rem;
    opacity: 1;
  }
}

.stt-map-element {
  width: 80%;
  margin: 0 auto;
  @media (max-width: 1439px) {
    width: 100%;
  }
}

.stt-contact-form {
  .stt-contact-text {
    margin-bottom: 2rem;

    span {
      margin-bottom: 0;
      color: #888888;

      a {
        color: #d98e04;
        cursor: pointer;
      }
    }
  }

  .stt-input-form {
    margin-bottom: 3rem;
    @media (max-width: 767px) {
      .stt-input-name {
        margin-bottom: 3rem;
      }
    }

    input {
      width: 100%;
      height: 45px;
      border-radius: 30px;
      border: solid 1px #c4c4c4;
      padding-left: 2rem;
      outline: unset;
    }
  }

  .stt-your-message {
    margin-bottom: 2rem;

    .your-message {
      textarea {
        width: 100%;
        border: solid 1px #c4c4c4;
        font-size: 1.6rem;
        border-radius: 30px;
        padding: 20px;
        outline: unset;
        height: 200px;
      }

      textarea:focus {
        box-shadow: none;

      }
    }
  }
}

.stt-contact-submit {
  padding: 1.1rem 3.2rem;
  color: #ffffff;
  background: #f2c84b;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  outline: unset;
}


.stt-author-information {
  &.style1 {
    .author-info {
      padding-left: 8rem;
      padding-bottom: 6rem;
      text-align: center;
      @media (max-width: 991px) {
        padding-left: 0;
        padding-bottom: 3rem;
      }

      .author-avatar {
        margin-bottom: 2rem;
      }

      .logo {
        margin-bottom: 2rem;
      }

      .author-content {
        .stt-author-text {
          color: #777777;
        }
      }
    }
  }

  &.style2 {
    .author-info {
      margin-bottom: 5rem;
      display: grid;
      grid-template-columns: 20% auto;

      .author-avatar {
        img {
          max-width: 100%;
          height: auto;
          border: none;
          border-radius: 0;
          box-shadow: none;
        }
      }

      .author-content {
        margin-left: 2.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .stt-author-text {
          color: #777777;
        }

        .stt-author-infor {
          overflow: hidden;
          margin-bottom: 2rem;

          .author-name {
            float: left;
            margin-bottom: 0;

            span {
              color: #d98e04;
            }
          }

          .contact {
            float: left;
            margin-left: 3rem;
            color: #888888;

            svg {
              path {
                fill: #c4c4c4;
              }
            }

            .ico-item:not(:last-child) {
              margin-right: 2rem;
            }

            .ico-item {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.pages-pagination {
  padding: 3rem 0;

  .stt-prev {
    float: left;
    color: #222222;

    .meta-nav {
      img {
        margin-right: 1rem;
      }
    }
  }

  .stt-next {
    float: right;
    color: #222222;

    .meta-nav {
      img {
        margin-left: 1rem;
      }
    }
  }
}

.stt-search-form {
  margin-top: 3rem;
  margin-bottom: 5rem;

  .stt-title {
    text-align: center;
    padding-bottom: 2rem;

    img {
      vertical-align: inherit;
    }

    span {
      font-size: 2.4rem;
      color: #000000;
      padding-left: 1rem;
    }
  }

  .stt-form {
    background-color: #f9f9f9;
    padding: 4rem 3rem;
    display: flex;
    align-items: flex-end;
    @media (max-width: 991px) {
      display: inline-block;
    }

    .form {
      width: 85%;
      padding-right: 3rem;
      @media (max-width: 991px) {
        width: 100%;
        padding-right: 0;
      }

      .form-group {
        margin-bottom: 0;
      }

      .form-destination-search {
        text-align: center;
        @media (max-width: 991px) {
          margin-bottom: 2rem;
        }

        label {
          margin-bottom: 1rem;
        }

        .location-input {
          height: 45px;
          border-radius: 30px;
          font-size: 1.6rem;
          padding-left: 2rem;
          border: none;
        }
      }

      .form-date-search {
        text-align: center;
        @media (max-width: 991px) {
          margin-bottom: 2rem;
        }

        label {
          margin-bottom: 1rem;
        }

        .render {
          height: 45px;
          border-radius: 30px;
          background-color: #ffffff;
          position: relative;

          #reportrange {
            color: #888888;
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 12px;
            cursor: pointer;
          }

          input#date {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            cursor: pointer;
          }

          .ico-calendar {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      .form-guest-search {
        text-align: center;
        @media (max-width: 991px) {
          margin-bottom: 2rem;
        }

        label {
          margin-bottom: 1rem;
        }

        .render {
          color: #888888;
          height: 45px;
          border-radius: 30px;
          background-color: #ffffff;
          position: relative;
          cursor: pointer;

          .dropdown {
            text-align: left;
            font-size: 12px;
            padding-left: 20px;
            padding-top: 15px;
          }

          .dropdown-menu {
            margin-top: 15px;
            font-size: 16px;
            width: 100%;
            top: 10px !important;
            padding: 10px 15px;
            position: relative;

            &:before {
              content: '';
              display: block;
              position: absolute;
              top: -6px;
              left: 30px;
              height: 12px;
              width: 12px;
              background: #fff;
              border: 1px solid #00000033;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              border-right: none;
              border-bottom: none;
            }

            .item {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 7px 0;

              .stt-number {
                cursor: pointer;

                .control {
                  img {
                    width: 14px;
                    height: auto;
                  }
                }

                .value {
                  margin: 0 1rem;
                }
              }

              label {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .stt-form-button {
      @media (max-width: 991px) {
        text-align: center;
      }

      .btn-search {
        font-size: 1.6rem;
        padding: 1rem 6rem;
        background: #f2c84b;
        border-radius: 30px;
        color: #ffffff;
      }
    }
  }
}

.stt-search-calendar {
  border: none;
  border-radius: 0;
  padding: 5px 15px;
  margin-top: 20px;
  box-shadow: 0 1px 2px 0 #00000033 !important;
  background-color: #ffffff;

  .calendar {
    position: relative;
    max-width: 100% !important;

    &.left {
      .next {
        display: none;
      }
    }
  }

  .month {
    color: #2a2a2a;
    font-weight: 500;
    position: relative;
    top: 9px;
    font-size: 16px;
  }

  .table-sub-header {
    border-top: 1px solid #DDDDDD;

    .day-off-week {
      width: 36px;
      padding-top: 15px;
      padding-bottom: 5px;
      color: #7a7a7a;
      float: left;
      text-align: center;
      font-size: 12px;
    }
  }

  .table-condensed {
    tr {
      padding-top: 4px;
      padding-bottom: 4px;
      display: block;
    }

    .in-range {
      color: #222222;
      background-color: #ffffff;
    }

    .td-date {
      width: auto;
      height: auto;
      padding: 0;
      border: none;

      .date {
        width: 37px;
        height: 27px;
        font-size: 12px;
        line-height: 30px;
        font-weight: 400;
      }

      &.start-date {
        background: #f2c84b;
      }

      &.td-no-show {
        visibility: hidden;
      }

      &.disabled {
        text-decoration: none;

        .date {
          color: #D7DCE3;
        }
      }

      &:hover {
        background: #f2c84b;
      }
    }

  }

  .table-header {
    position: relative;
    padding-bottom: 20px;

    .prev {
      position: absolute;
      bottom: 0;
      left: 0;
      float: left;
      width: 48px;
      height: 48px;
      background: url(../images/Arrows-prev.svg) no-repeat left center;
      cursor: pointer;
      z-index: 9;
    }

    .next {
      position: absolute;
      bottom: 0;
      right: 0;
      float: right;
      width: 48px;
      height: 48px;
      background: url(../images/Arrows-next.svg) no-repeat right center;
      cursor: pointer;
      z-index: 9;
    }

    .month {
      text-align: center;
    }
  }
}