.stt-content-footer {
  font-size: 14px;
  background: url(../images/bg_footer.png) center center no-repeat;
  min-height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 767px) {
    background: none;
  }

  .elementor-top-column {
    margin-bottom: 0 !important;
    @media (max-width: 767px) {
      &:not(:first-child):not(:last-child) {
        display: none !important;
      }
    }
  }
}

#footer-default {
  border-top: 1px solid #EEE;
  padding: 30px 20px;
  text-align: center;
  margin-top: 50px;
}

.stt-footer-title {
  margin-top: 1rem;
  margin-bottom: 2.6rem !important;
  @media (max-width: 767px) {
    display: none;
  }

  h4 {
    font-weight: normal !important;
  }
}

.stt-footer-logo {
  margin-bottom: 2.9rem !important;
  @media (max-width: 767px) {
    text-align: center !important;
  }
}

.stt-footer-infor {
  margin-bottom: 0 !important;
  color: #888888;
  @media (max-width: 767px) {
    text-align: center !important;
  }

  p {
    margin-bottom: 1.8rem;

    span {
      font-size: 16px;
    }
  }
}

.stt-footer-ico {
  margin-bottom: 4.3rem !important;
  cursor: pointer;
  @media (max-width: 767px) {
    text-align: center !important;
    margin-bottom: 0 !important;
  }

  svg:not(:last-child) {
    margin-right: 2rem;
  }
}

.stt-copy-right {
  @media (max-width: 767px) {
    text-align: center !important;
  }
}

.stt-footer-menu {
  @media (max-width: 767px) {
    display: none;
  }
  text-transform: uppercase;

  ul {
    list-style-type: none !important;
    padding: 0;
    margin: 0 !important;

    li {
      margin-bottom: 1.5rem;

      a {
        color: #888888;
      }
    }
  }
}

.stt-footer-email {
  margin-bottom: 1rem !important;

  .stt-footer-email-text {

    font-size: 1.6rem;
    @media (max-width: 575px) {
      padding-left: 0;
    }
  }

  .stt-logo-email {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.stt-mail-chimp {
  position: relative;
  padding-left: 1rem;
  input {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    outline: none;
    border: solid 1px #f2c84b;
    padding-left: 2.2rem;
  }

  button {
    position: absolute;
    border-radius: 30px;
    background: url(../images/Vector.svg) center center no-repeat;
    right: 20px;
    top: 0;
    height: 100%;
    width: 24px;
    background-size: contain;
    border: none;
    outline: none;
  }
}
.mc4wp-response{
  padding-left: 1rem;
  padding-top: 1rem;
}


