@media (max-width: 991px) {
  .admin-bar {
    .stt-header-menu {
      top: 30px !important;

      .back-menu {
        top: 30px !important;
      }

      ul {
        top: 80px !important;
      }
    }
  }
}

@media (max-width: 782px) {
  .admin-bar {
    .stt-header-menu {
      top: 45px !important;

      .back-menu {
        top: 45px !important;
      }

      ul {
        top: 95px !important;
      }
    }
  }
}

.header-style-1 {
  .stt-header-swapper {
    padding: 0 10px;

    .stt-header-content {
      width: 100%;
      border-bottom: 1px solid #dddddd;
      align-items: center;

      .toggle-menu {
        display: none;
        @media (max-width: 991px) {
          display: block;
          margin-right: 2rem;
        }
      }

      .stt-header-left {
        display: flex;
        align-items: center;
        width: 70%;
        @media (max-width: 991px) {
          margin-right: auto;
        }

        .stt-logo {
          padding: 4rem 2.5rem 4rem 0;

          .no-logo {
            font-size: 2rem;
          }
        }

        .stt-header-menu {
          @media (max-width: 991px) {
            position: fixed !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease-in-out;
            transition-delay: .1s;
            &.open {
              opacity: 1;
              visibility: visible;
              z-index: 999;
              transition-delay: 0s;

              .back-menu {
                opacity: 1;
                left: 0;
                -webkit-transition-delay: .1s;
                transition-delay: .1s;
                border-bottom: 1px solid #DDDDDD;
              }

              ul.menu {
                opacity: 1;
                left: 0;
                transition-delay: .1s;
              }
            }
          }

          .back-menu {
            display: none;
            @media (max-width: 991px) {
              position: fixed;
              top: 0;
              left: -100%;
              background: #f5f5f5;
              width: 300px;
              height: 50px;
              display: flex !important;
              align-items: center;
              font-size: 15px;
              color: grey;
              padding-left: 22px;
              opacity: 0.8;
              border-bottom: 1px solid #EEEEEE;
              text-decoration: none;
              transition: left .3s ease, opacity .3s ease;
            }
          }

          ul.menu {
            margin: 0;
            padding: 0;
            list-style-type: none;
            @media (max-width: 991px) {
              position: fixed;
              top: 50px;
              left: -100%;
              width: 300px;
              height: 100%;
              background: #FFF;
              opacity: 0.8;
              transition: left .3s ease, opacity .3s ease;
              overflow-y: auto;
            }

            li {
              display: inline-block;
              padding: 5.4rem 2.4rem;
              position: relative;
              cursor: pointer;
              @media (max-width: 991px) {
                display: block;
                padding: 1.5rem 2.5rem !important;
                border-bottom: 1px solid #DDDDDD;
                .sub-menu-mobile {
                  display: block !important;
                  top: 59px !important;
                  left: 25px !important;
                  height: auto;
                  border: none !important;
                  width: 250px;
                }
                &.menu-item-has-children:after {
                  content: "";
                  background: url(../images/blog/ico-sort.svg) center center no-repeat;
                  width: 1.6rem;
                  height: 1.6rem;
                  position: absolute;
                  top: 40%;
                  font-size: 1.6rem;
                  right: 5px;
                }
              }

              &:hover > a {
                color: #f2c84b;
              }

              > .sub-menu {
                display: none;
              }

              a {
                color: #222222;
                display: block;

                &:hover {

                }
              }

            }

            .current-menu-item {
              a {
                color: #f2c84b;
              }
            }

            li:hover .sub-menu {
              margin-left: 0;
              z-index: 9999;
              display: block;
              position: absolute;
              min-width: 200px;
              top: 100%;
              left: 0;
              border: 1px solid #f3f3f3;
              background: #fff;
              box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
              transition: all .2s ease-in-out;
              @media (max-width: 991px) {
                display: none;
              }

              li {
                width: 100%;
                padding: 15px 15px;
              }
            }

          }
        }
      }

      .stt-header-right {
        ul {
          li {
            display: flex;
            float: left;
            padding: 0 1rem;
            color: #888888;
            height: 18px;
            cursor: pointer;

            .stt-number-cart {
              line-height: 18px;
            }

            @media (max-width: 1199px) {
              &:not(:first-child) {
                display: none;
              }
            }
          }

          li:last-child {
            padding-right: 0;

          }
          .ico-search{
            .header-search{
              .hidden{
                display: none;
              }
            }
          }
          .ico-facebook {
            padding: 0 1rem 0 2rem;
          }

          .ico-item {
            padding: 0 2rem;
            position: relative;
            overflow: hidden;

            .header-search {
              .form-control {
                border: none;
                box-shadow: none;
                font-size: 14px;
                background: url("../images/ic-search.svg") no-repeat 12px center;
                height: 18px;
                width: 30px;
                transition: width .35s ease-in-out;
              }

              .form-control:focus {
                width: 100px;
                padding: 0.2rem 0 0.2rem 2.2rem;
                border-bottom: 1px solid #5796fa;
                background: url("../images/ic-search.svg") no-repeat 2px center;
              }

            }
          }

          .ico-item:first-child {
            padding-left: 0;
          }

          .ico-item:after {
            position: absolute;
            content: "";
            width: 1px;
            height: 100%;
            border-right: 1px dashed #dddddd;
            right: 0;
            transform: scale(1.4);
            @media (max-width: 1199px) {
              border-right: none;

            }
          }
        }
      }
    }
  }
}
.header-style-default {

  .stt-header-swapper {
    padding: 0 50px;

    .stt-header-content {
      width: 100%;
      border-bottom: 1px solid #dddddd;
      align-items: center;

      .toggle-menu {
        display: none;
        @media (max-width: 991px) {
          display: block;
          margin-right: 2rem;
        }
      }

      .stt-header-left {
        display: flex;
        align-items: center;
        @media (max-width: 991px) {
          margin-right: auto;
        }

        .stt-logo {
          padding: 4rem 2.5rem 4rem 0;
          h1{
            display: flex;
            margin-bottom: 0;
            align-items: center;
            .no-logo {
              font-size: 2rem;
            }
          }
        }

        .stt-header-menu {
          @media (max-width: 991px) {
            position: fixed !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease-in-out;
            transition-delay: .1s;
            &.open {
              opacity: 1;
              visibility: visible;
              z-index: 999;
              transition-delay: 0s;

              .back-menu {
                opacity: 1;
                left: 0;
                -webkit-transition-delay: .1s;
                transition-delay: .1s;
                border-bottom: 1px solid #DDDDDD;
              }

              ul.menu {
                opacity: 1;
                left: 0;
                transition-delay: .1s;
              }
            }
          }

          .back-menu {
            display: none;
            @media (max-width: 991px) {
              position: fixed;
              top: 0;
              left: -100%;
              background: #f5f5f5;
              width: 300px;
              height: 50px;
              display: flex !important;
              align-items: center;
              font-size: 15px;
              color: grey;
              padding-left: 22px;
              opacity: 0.8;
              border-bottom: 1px solid #EEEEEE;
              text-decoration: none;
              transition: left .3s ease, opacity .3s ease;
            }
          }

          ul.menu {
            margin: 0;
            padding: 0;
            list-style-type: none;
            @media (max-width: 991px) {
              position: fixed;
              top: 50px;
              left: -100%;
              width: 300px;
              height: 100%;
              background: #FFF;
              opacity: 0.8;
              transition: left .3s ease, opacity .3s ease;
              overflow-y: auto;
            }

            li {
              display: inline-block;
              padding: 5.4rem 2.4rem;
              position: relative;
              cursor: pointer;
              @media (max-width: 991px) {
                display: block;
                padding: 1.5rem 2.5rem !important;
                border-bottom: 1px solid #DDDDDD;
                .sub-menu-mobile {
                  display: block !important;
                  top: 59px !important;
                  left: 25px !important;
                  height: auto;
                  border: none !important;
                  width: 250px;
                }
                &.menu-item-has-children:after {
                  content: "";
                  background: url(../images/blog/ico-sort.svg) center center no-repeat;
                  width: 1.6rem;
                  height: 1.6rem;
                  position: absolute;
                  top: 40%;
                  font-size: 1.6rem;
                  right: 5px;
                }
              }

              &:hover > a {
                color: #f2c84b;
              }

              > .sub-menu {
                display: none;
              }

              a {
                color: #222222;
                display: block;

                &:hover {

                }
              }

            }

            .current-menu-item {
              a {
                color: #f2c84b;
              }
            }

            li:hover .sub-menu {
              margin-left: 0;
              z-index: 9999;
              display: block;
              position: absolute;
              min-width: 200px;
              top: 100%;
              left: 0;
              border: 1px solid #f3f3f3;
              background: #fff;
              box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
              transition: all .2s ease-in-out;
              @media (max-width: 991px) {
                display: none;
              }

              li {
                width: 100%;
                padding: 15px 15px;
              }
            }

          }
        }
      }

    }
  }
}
