.stt-list-of-category {
  &.style1 {
    padding-left: 8rem;
    padding-bottom: 6rem;
    font-size: 1.4rem;
    @media (max-width: 991px) {
      padding-left: 0;
      padding-bottom: 3rem;

    }

    .stt-list-categorries {
      padding-left: 15px;
      padding-right: 15px;

      .stt-categories-title {
        position: relative;
        margin-bottom: 3rem;

        h4.stt-heading {
          line-height: 3rem;
        }
      }

      .stt-categories-title:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        background: #dddddd;
        right: 50%;
        bottom: 0;
        transform: translateX(50%);
      }

      .category-item {
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
        padding-top: 2rem;
        padding-bottom: 2rem;

        .thumb {
          margin-bottom: 2rem;
        }

        .category-name {
          text-transform: uppercase;

          a {
            color: #777777;

            &:hover {
              color: #f2c84b;
            }
          }
        }
      }

      .category-item:nth-child(even) {
        border-right: 1px solid #f5f5f5;
      }

      .category-item:nth-last-child(2), .category-item:nth-last-child(1) {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

  &.style2 {
    font-size: 1.4rem;
    margin-bottom: 5rem;

    .stt-breadcrumb {
      padding: 3rem 0 0 0;

      ul {
        margin-left: -1.5rem;
      }
    }

    .stt-list-categorries {
      position: relative;
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 1px;
      background-color: #F5F5F5;
      margin-right: 1px;
      @media (max-width: 767px) {
        grid-template-columns: repeat(2, auto);
      }

      .category-item {
        background: white;
        text-align: center;
        padding-top: 7rem;
        padding-bottom: 7rem;

        .thumb {
          margin-bottom: 2rem;
        }

        .category-name {
          text-transform: uppercase;

          a {
            color: #777777;

            &:hover {
              color: #f2c84b;
            }
          }
        }
      }

      .category-item:nth-last-child(odd) {
        padding-bottom: 0;
      }
    }

    .stt-list-categorries:before {
      position: absolute;
      content: "";
      height: 5rem;
      width: 100%;
      top: 0;
      background-color: #ffffff;
    }

    .stt-list-categorries:after {
      position: absolute;
      content: "";
      height: 5rem;
      width: 100%;
      bottom: 0;
      background-color: #ffffff;
    }
  }
}

.list-blog-archive {
  margin-bottom: 10rem;

  .list-blog {
    margin-left: -0.5rem;
    padding-bottom: 4rem;

    .stt-breadcrumb {
      padding: 3.5rem 0 4rem 0;
      ul {
        margin-left: -1.5rem;
      }
    }

    .blog-item {
      margin-bottom: 4rem;

      .thumb {
        overflow: hidden;

        img {
          height: auto;
          max-width: 100%;
          border: none;
          -webkit-border-radius: 0;
          border-radius: 0;
          transition: all .3s;

          &:hover {
            transform: scale(1.1, 1.1);
          }
        }
      }

      .content {
        .stt-taxonomy-blog {
          text-transform: uppercase;
          padding: 1.6rem 0 0.5rem 0;

          .stt-category {
            float: left;
            font-size: 1.4rem;
            line-height: 2.3rem;
            padding-right: 1rem;

            a {
              color: #d98e04;

              &:hover {
                color: #f2c84b;
              }
            }
          }

          .stt-destination {
            float: left;
            font-size: 1.4rem;
            line-height: 2.3rem;
            padding-left: 1rem;
          }

          a {
            color: #777777;

            &:hover {
              color: #f2c84b;
            }
          }
        }

        h4 {
          line-height: 3rem;

          a {
            color: #222222;

            &:hover {
              color: #f2c84b;
            }
          }
        }

        .text-muted {
          margin-bottom: 1.5rem;

          .stt-author {
            padding-right: 2rem;
          }
        }

        .stt-blog-description {
          color: #777777;
          line-height: 2.3rem;
        }
      }
    }
  }
}