.stt-list-image-instagram {
  &.style1 {
    .stt-instagram-content {
      padding-left: 8rem;
      padding-bottom: 10rem;
      @media (max-width: 991px) {
        padding-left: 0;
        padding-bottom: 5rem;
      }

      .stt-instagram-heading {
        text-align: center;
        position: relative;
        margin-bottom: 2.5rem;
      }

      .stt-instagram-heading:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        background: #dddddd;
        right: 50%;
        transform: translateX(50%);

      }

      .stt-list-image {
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 2rem;

        .stt-image-item {
          margin-right: 2px;
          margin-bottom: 2px;
          position: relative;
          cursor: pointer;

          &:hover {
            .stt-instagram-gradient {
              position: absolute;
              width: 100%;
              height: 100%;
              opacity: 0.3;
              background: #222222;
            }
          }

          .stt-ico-instagram {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;

          }

          .stt-ico-instagram:hover {
            opacity: 1;


          }
        }

      }

      .stt-instagram-follow {
        text-align: center;

        .st-instagram-text {
          cursor: pointer;

          a {
            color: #d98e04;
          }
        }
      }
    }
  }
}