.stt-list-of-blog {
  &.style1 {
    margin-bottom: 10rem;

    .stt-carousel {
      .flickity-prev-next-button {
        padding: 24px;
        box-shadow: none;

        &.flickity-button {
          background: #ffffff;
        }

        &:hover {
          background-color: #f2c84b;
        }

        &.previous {
          background-image: url("../images/Arrows-prev.svg");
          background-position: center;
          background-repeat: no-repeat;
          left: 3.6%;
          @media (max-width: 575px) {
            display: none;
          }
        }

        &.next {
          background-image: url("../images/Arrows-next.svg");
          background-position: center;
          background-repeat: no-repeat;
          right: 3.6%;
          @media (max-width: 575px) {
            display: none;
          }
        }

        svg {
          display: none;
        }
      }

      .flickity-page-dots {
        bottom: -3rem;

        .dot {
          border: 1px solid #888888;
          background-color: #ffffff;
        }

        .is-selected {
          border: 1px solid #f2c84b;
          background-color: #f2c84b;
        }
      }
    }

    .blog-item {
      width: 40%;
      padding-right: 1px;
      @media (max-width: 991px) {
        width: 60%;
      }
      @media (max-width: 575px) {
        width: 100%;
      }

      .thumb {
        position: relative;

        .content {
          position: absolute;
          left: 5rem;
          bottom: 4rem;
          color: #ffffff;
          z-index: 1;
          @media (max-width: 1200px) {
            left: 3rem;
            bottom: 2rem;
          }
          ul {
            margin: 0 !important;
            padding-bottom: 1rem;
            @media (max-width: 767px) {
              padding-bottom: 0;
            }

            li {
              display: inline-block;
              text-transform: uppercase;
              line-height: 2.3rem;
              font-size: 1.4rem;

              &.date {
                padding-right: 2rem;
                position: relative;

                &:after {
                  position: absolute;
                  content: "";
                  width: 1px;
                  height: 14px;
                  right: 0;
                  background: #ffffff;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }

              &.destination {
                padding-left: 2rem;

                a {
                  color: #ffffff;
                }
              }
            }
          }

          h3 {
            font-size: 3rem;
            font-family: "Lora-Regular";
            font-weight: normal;
            line-height: 4.8rem;
            margin-bottom: 0;
            @media (max-width: 1200px) {
              font-size: 2.4rem;
            }
            @media (max-width: 767px) {
              font-size: 1.8rem;
            }
            a {
              color: #ffffff;
            }
          }
        }

        .stt-gradient {
          position: absolute;
          opacity: 0.6;
          background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0), #222222 100%, #222222 100%);
          width: 100%;
          height: 40%;
          bottom: 0;
        }
      }
    }
  }

  &.style2 {
    margin-bottom: 8rem;
    @media (max-width: 767px) {
      margin-bottom: 2rem;
    }

    .stt-list-blog {
      margin-bottom: 2rem;
      @media (max-width: 767px) {
        margin-bottom: 0;
      }

      .stt-blog-heading {
        text-align: center;
        margin-bottom: 4rem;

        .stt-blog-sub-heading {
          text-transform: uppercase;
          color: #777777;
        }
      }

      .blog-item {
        margin-bottom: 4rem;

        .thumb {
          overflow: hidden;

          img {
            transition: all .3s;

            &:hover {
              transform: scale(1.1, 1.1);
            }
          }

        }

        .content {
          .stt-taxonomy-blog {
            text-transform: uppercase;
            padding: 1.6rem 0 0.5rem 0;

            .stt-category {
              position: relative;
              float: left;
              font-size: 1.4rem;
              line-height: 2.3rem;
              padding-right: 1rem;

              a {
                color: #d98e04;

                &:hover {
                  color: #f2c84b;
                }
              }

              &:after {
                position: absolute;
                content: "";
                width: 1px;
                height: 12px;
                right: 0;
                background: #DDDDDD;
                top: 50%;
                transform: translateY(-50%);
              }
            }

            .stt-destination {
              float: left;
              font-size: 1.4rem;
              line-height: 2.3rem;
              padding-left: 1rem;
            }

            a {
              color: #777777;

              &:hover {
                color: #f2c84b;
              }
            }
          }

          h4 {
            line-height: 3rem;

            a {
              color: #222222;

              &:hover {
                color: #f2c84b;
              }
            }
          }

          .text-muted {
            margin-bottom: 1.5rem;

            .stt-author {
              padding-right: 2rem;
              color: #d98e04;
            }
          }

          .stt-blog-description {
            color: #777777;
            line-height: 2.3rem;
          }
        }
      }
    }

    .stt-view-all {
      text-align: center;

      .stt-view-text {
        font-weight: 600;
        line-height: 2.3rem;
        padding: 1.1rem 3.2rem;
        background-color: #f2c84b;
        color: #fff;
        border-radius: 3rem;
      }
    }
  }

  &.style3 {
    padding-left: 8rem;
    margin-bottom: 5rem;
    @media (max-width: 991px) {
      padding-left: 0;
      margin-bottom: 3rem;
    }

    .stt-list-blog {
      .stt-blog-heading {
        position: relative;
        text-align: center;
        margin-bottom: 2.5rem;

        h4 {
          line-height: 3rem;
        }
      }

      .stt-blog-heading:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        background: #dddddd;
        right: 50%;
        transform: translateX(50%);
      }

      .blog-item {
        display: grid;
        grid-template-columns: 40% auto;
        padding-bottom: 15px;

        .thumb {
          overflow: hidden;

          img {
            transition: all .3s;

            &:hover {
              transform: scale(1.1, 1.1);
            }
          }
        }

        .content {
          padding-left: 10px;
          display: flex;
          justify-content: center;
          flex-direction: column;

          .stt-time {
            font-size: 12px;
            color: #888888;
            text-transform: uppercase;
            padding-bottom: 0.5rem;
          }

          .stt-blog-item-title {
            font-size: 14px;

            a {
              color: #222222;
              font-family: 'Lora-Regular';

              &:hover {
                color: #f2c84b;
              }
            }
          }
        }
      }
    }
  }

  &.style4 {
    margin-bottom: 8rem;
    position: relative;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }

    .stt-loader {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, .7);
      z-index: 99;
      top: 0;
      left: 0;
      display: none;
    }

    .stt-toolbar {
      align-items: center;

      .stt-breadcrumb {
        ul {
          margin-left: -1.5rem;
        }
      }

      .text-right {
        cursor: pointer;
        padding: 3rem 0 4rem 0;

        .sort-by {
          #sortDropdownButton {
            span {
              img {
                padding-left: 1rem;
              }
            }
          }

          .sort-dropdown {
            font-size: 1.6rem;
            min-width: 110px;
            right: 0;
            left: auto !important;
            box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.1);
            border: none;

            ul {
              margin: 0;
              padding: 0;
              list-style-type: none !important;

              li {
                padding: 5px 10px;
              }

              .active {
                color: #f2c84b;
              }
            }
          }
        }

      }
    }

    .stt-list-blog {
      margin-bottom: 8rem;
      @media (max-width: 767px) {
        margin-bottom: 0;
      }

      .stt-blog-heading {
        text-align: center;
        margin-bottom: 4rem;

        .stt-blog-sub-heading {
          text-transform: uppercase;
          color: #777777;
        }
      }

      .blog-item {
        margin-bottom: 4rem;

        .thumb {
          overflow: hidden;

          img {
            transition: all .3s;

            &:hover {
              transform: scale(1.1, 1.1);
            }
          }

        }

        .content {
          .stt-taxonomy-blog {
            text-transform: uppercase;
            padding: 1.6rem 0 0.5rem 0;

            .stt-category {
              float: left;
              font-size: 1.4rem;
              line-height: 2.3rem;
              padding-right: 1rem;

              a {
                color: #d98e04;

                &:hover {
                  color: #f2c84b;
                }
              }
            }

            .stt-destination {
              float: left;
              font-size: 1.4rem;
              line-height: 2.3rem;
              padding-left: 1rem;
            }

            a {
              color: #777777;

              &:hover {
                color: #f2c84b;
              }
            }
          }

          h4 {
            line-height: 3rem;

            a {
              color: #222222;

              &:hover {
                color: #f2c84b;
              }
            }
          }

          .text-muted {
            margin-bottom: 1.5rem;

            .stt-author {
              padding-right: 2rem;
              color: #d98e04;
            }
          }

          .stt-blog-description {
            color: #777777;
            line-height: 2.3rem;
          }
        }
      }
    }

    .stt-view-all {
      text-align: center;

      .stt-view-text {
        font-weight: 600;
        line-height: 2.3rem;
        padding: 1.1rem 3.2rem;
        background-color: #f2c84b;
        color: #fff;
        border-radius: 3rem;
      }
    }
  }

  &.style5 {
    border-bottom: 1px solid #F5F5F5;

    .stt-list-blog {
      .blog-heading {
        text-align: center;

        p {
          font-size: 20px;
          margin-bottom: 2rem;
        }
      }

      .stt-blog-item {
        padding-bottom: 5rem;

        .thumb {
          margin-bottom: 2rem;
          overflow: hidden;

          img {
            transition: all .3s;

            &:hover {
              transform: scale(1.1, 1.1);
            }
          }
        }

        .blog-title {
          text-align: center;
          font-family: 'Lora-Regular';

          a {
            color: #222222;

            &:hover {
              color: #f2c84b;
            }
          }
        }
      }
    }
  }
}