.stt-list-of-feature {
  &.style1 {
    padding: 10rem 0;
    margin-bottom: 8rem;
    background: #f9f9f9;
    @media (max-width: 991px) {
      padding: 0;
    }

    .stt-list-feature {
      .feature-item {
        overflow: hidden;
        @media (max-width: 991px) {
          margin: 2rem;
        }

        .stt-feature-image {
          float: left;
          margin-right: 3rem;
        }

        .stt-feature-content {

          .stt-feature-text {
            color: #888888;
          }
        }
      }
    }
  }

  &.style2 {
    padding: 9rem 0;
    @media (max-width: 991px) {
      padding: 4rem 0;
    }

    .stt-list-feature {
      .feature-item {
        overflow: hidden;
        @media (max-width: 991px) {
          margin: 2rem 0 2rem 0;
        }

        .stt-feature-image {
          float: left;
          margin-right: 3rem;
        }

        .stt-feature-content {
          margin-left: 70px;

          .stt-feature-text {
            color: #888888;
          }
        }
      }
    }
  }
}