.stt-list-of-destination {
  &.style1 {
    background: url(../images/des-map.svg) top left no-repeat;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    @media (max-width: 991px) {
      background: none;
      display: block;
    }
    @media (max-width: 767px) {
      margin-bottom: 0;
    }

    .stt-destination-title {
      width: 25%;
      height: 100%;
      text-align: center;
      @media (max-width: 991px) {
        width: 100%;
      }
      transform: translateY(-40%);

      .stt-sub-title {
        line-height: 2.1rem;
        text-transform: uppercase;
        color: #888888;
      }

    }

    .stt-list-destination {
      float: left;
      width: 75%;
      position: relative;
      @media (max-width: 991px) {
        float: unset;
        width: 100%;
      }

      .destination-item {
        .destination-name {
          padding-top: 2rem;
          text-align: center;
          font-size: 2rem;

          a {
            color: #222222;

            &:hover {
              color: #f2c84b;
            }
          }
        }
      }

      .Destination-Next {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;
        box-shadow: none;
        border: none;
        background-color: #ffffff !important;
        background: url(../images/Arrows-next.svg) center center no-repeat;
        padding: 2rem;
        border-radius: 50%;
        background-size: 2rem;
        transform: translate3d(50%, -150%, 0);
        outline: none;
        cursor: pointer;
        @media (max-width: 575px) {
          display: none;
        }

        &:hover {
          background-color: #f2c84b !important;
          background: url(../images/Arrows-next.svg) center center no-repeat;
          background-size: 2rem;
        }
      }
    }
  }

  &.style2 {
    position: relative;

    .stt-loader {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, .7);
      z-index: 99;
      top: 0;
      left: 0;
      display: none;
    }

    .stt-breadcrumb {
      ul {
        margin-left: -1.5rem;
      }
    }

    .stt-list-destination {
      margin-bottom: 8rem;

      .destination-item {
        padding-bottom: 5rem;

        .thumb {
          overflow: hidden;

          img {
            transition: all .3s;

            &:hover {
              transform: scale(1.1, 1.1);
            }
          }
        }

        .destination-name {
          padding-top: 2rem;
          text-align: center;
         a{
           h4{
             font-family: 'FuturaPT-Book'!important;
           }
         }
        }
      }
    }

    .des-load-more {
      margin-bottom: 10rem;
      text-align: center;

      .stt-load-more {
        cursor: pointer;
        padding: 1rem 4.5rem;
        background-color: #f2c84b;
        color: #ffffff;
        border-radius: 30px;
        border: none;
        outline: unset;
      }
    }
  }
}