.page-template-default .stt-content-wrapper .container > * {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page {
  h2.page-title {
    border-bottom: 1px solid #eeeeee;
    font-size: 23px;
    margin-bottom: 30px;
    font-family: "Avenir Medium";
    padding-bottom: 15px;
  }

  .page-links {
    clear: both;
    padding: 10px 0;
    border-top: 1px solid #eeeeee;
  }

  .comment-wrapper {
    padding-bottom: 10rem;
    clear: both;
    width: 100% !important;
    @media (max-width: 991px) {
      margin-bottom: 5rem;
    }

    .comments-area {
      .comments-title {
        font-family: 'Lora-Regular';
        margin-bottom: 2rem;
        font-size: 2rem;
      }

      .comment-list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        margin-bottom: 5rem;

        .children {
          list-style-type: none;
          padding-left: 10rem;
        }

        .comment-item-head {
          border: solid 1px #f5f5f5;
          margin-bottom: 2rem;

          .media {
            padding: 2rem 0;

            .media-left {
              margin: 0 2rem;
              img{
                border-radius: 50%;
              }
            }

            .media-body {
              font-size: 1.6rem;

              .media-user {
                .media-heading {
                  position: relative;
                  display: inline-block;
                  margin-bottom: 0.5rem;
                  padding-right: 2rem;

                  &:after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 12px;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #DDDDDD;
                  }
                }

                .date {
                  display: inline-block;
                  color: #888888;
                  padding-left: 2rem;
                }
              }

              .comment-item-body {
                .comment-content {
                  color: #777777;
                }

                .comment-reply {
                  font-weight: 600;

                  a {
                    color: #d98e04;

                    &:hover {
                      color: #f2c84b;
                    }
                  }
                }
              }
            }
          }
        }
      }

      #respond {
        .comment-reply-title {
          margin-bottom: 3rem;
          font-size: 2rem;

          a {
            color: #222222;
            font-weight: 600;
          }

          small {
            a {
              color: #d98e04;

              &:hover {
                color: #f2c84b;
              }
            }
          }

          img {
            margin-right: 2rem;
          }

          span {

            color: #222222;
            height: 30px;
          }
        }

        .comment-form {
          .logged-in-as {
            display: none;
          }

          .comment-notes {
            display: none;
          }

          .comment-form-author {
            width: 30%;
            float: left;
            margin-right: 5%;
            margin-bottom: 2rem;

            label {
              display: none;
            }

            input[type="text"] {
              width: 100%;
              height: 4.5rem;
              border: solid 1px #dddddd;
              border-radius: 30px;
              padding-left: 2rem;
              outline: unset;
            }
          }

          .comment-form-email {
            width: 30%;
            float: left;

            label {
              display: none;
            }

            input[type="email"] {
              width: 100%;
              height: 4.5rem;
              border: solid 1px #dddddd;
              border-radius: 30px;
              padding-left: 2rem;
              outline: unset;
            }
          }

          .comment-form-url {
            width: 30%;
            float: right;

            label {
              display: none;
            }

            input[type="url"] {
              width: 100%;
              height: 4.5rem;
              border: solid 1px #dddddd;
              border-radius: 30px;
              padding-left: 2rem;
              outline: unset;
            }
          }

          .comment-form-comment {
            margin-top: 15px;

            label {
              display: none;
            }

            textarea {
              border-radius: 30px;
              border: solid 1px #dddddd;
              width: 100%;
              padding: 15px;
              outline: unset;
            }
          }

          .form-submit {
            text-align: center;

            input {
              padding: 1rem 3rem;
              border: none;
              outline: unset;
              background-color: #f2c84b;
              color: #ffffff;
              border-radius: 30px;
            }
          }
        }
      }
    }
  }
}