.stt_list_destination_widget {
  padding-top: 3rem;
  padding-left: 8rem;
  padding-bottom: 7rem;
  @media (max-width: 991px) {
    padding-left: 0;
    padding-bottom: 2rem;

  }
  .widget-title {
    text-align: center;
    position: relative;
    margin-bottom: 3.5rem;
  }

  .widget-title:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #dddddd;
    right: 50%;
    transform: translateX(50%);
    bottom: -1rem;
  }

  .list_top_destinations {
    margin-left: -5px;
    margin-right: -5px;
    .destination-item {
      padding-left: 5px;
      padding-right: 5px;
      .thumb {
        overflow: hidden;

        img {
          transition: all .3s;
          height: auto;
          max-width: 100%;
          border: none;
          -webkit-border-radius: 0;
          border-radius: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          &:hover {
            transform: scale(1.1, 1.1);
          }
        }
      }

      .description-name {
        text-align: center;
        padding: 1rem 0;

        a {
          color: #222222;

          &:hover {
            color: #f2c84b;
          }
        }
      }
    }
  }
}

.stt_categories_widget {
  padding-left: 8rem;
  padding-bottom: 7rem;
  @media (max-width: 991px) {
    padding-left: 0;
    padding-bottom: 4rem;
  }
  .widget-title {
    text-align: center;
    position: relative;
    margin-bottom: 3.5rem;
  }

  .widget-title:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #dddddd;
    right: 50%;
    transform: translateX(50%);
    bottom: -1rem;
  }

  .list_categories {
    margin-left: -5px;
    margin-right: -5px;
    .category-item {
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid #f5f5f5;

      .category-name {

        padding: 1rem 0;

        a {
          text-transform: uppercase;
          color: #222222;
          font-size: 1.4rem;

          &:hover {
            color: #f2c84b;
          }
        }
      }
    }

    .category-item:nth-child(odd) {
      border-right: 1px solid #f5f5f5;
    }

    .category-item:nth-last-child(2), .category-item:nth-last-child(1) {
      border-bottom: none;
      padding-bottom: 0;

      .category-name {
        padding-bottom: 0;
      }
    }
  }
}

.stt_video_popup_widget {
  padding-left: 8rem;
  padding-bottom: 7rem;
  @media (max-width: 991px) {
    padding-left: 0;
    padding-bottom: 5rem;
  }
  .stt-title {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
  }

  .stt-title:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #dddddd;
    right: 50%;
    transform: translateX(50%);
    bottom: -1rem;
  }

  .stt-video-popup {
    .stt-video {
      position: relative;

      .stt-gradient {
        position: absolute;
        opacity: 0.6;
        background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0), #222222 100%, #222222 100%);
        width: 100%;
        height: 40%;
        bottom: 0;
      }

      .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 1;
      }
    }

  }

}

.stt_list_post_widget {
  padding-left: 8rem;
  padding-bottom: 6.5rem;
  @media (max-width: 991px) {
    padding-left: 0;
    padding-bottom: 3rem;
  }
  .widget-title {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
  }

  .widget-title:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #dddddd;
    right: 50%;
    transform: translateX(50%);
    bottom: -1rem;
  }

  .blog-item {
    display: grid;
    grid-template-columns: 40% auto;
    padding-bottom: 15px;

    .thumb {
      overflow: hidden;

      img {
        transition: all .3s;
        height: auto;
        max-width: 100%;
        border: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;

        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }

    .content {
      padding-left: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .stt-time {
        font-size: 12px;
        color: #888888;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
      }

      .stt-blog-item-title {
        font-size: 14px;
        a {
          color: #222222;
          font-family: 'Lora-Regular';

          &:hover {
            color: #f2c84b;
          }
        }
      }
    }
  }
}

.stt_tags_widget {
  padding-left: 10rem;
  padding-bottom: 8rem;
  @media (max-width: 991px) {
    padding-left: 0;
    padding-bottom: 3rem;
  }
  .widget-title {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
  }

  .widget-title:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #dddddd;
    right: 50%;
    transform: translateX(50%);
    bottom: -1rem;
  }

  .list_tags {
    overflow: hidden;

    .tag-item {
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 1.5rem;
      background: #f5f5f5;
      border-radius: 30px;

      .tag-name {
        padding: 0.4rem 1.5rem;

        a {
          color: #222222;

          &:hover {
            color: #f2c84b;
          }
        }
      }
    }
  }
}

.stt_instagram_widget {
  .stt-instagram-content {
    padding-left: 8rem;
    padding-bottom: 8rem;
    @media (max-width: 991px) {
      padding-left: 0;
      padding-bottom: 4rem;
    }
    .stt-instagram-heading {
      text-align: center;
      position: relative;
      margin-bottom: 2.5rem;
    }

    .stt-instagram-heading:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 3px;
      background: #dddddd;
      right: 50%;
      transform: translateX(50%);

    }

    .stt-list-image {
      display: grid;
      grid-template-columns: auto auto;
      margin-bottom: 2rem;

      .stt-image-item {
        margin-right: 2px;
        margin-bottom: 2px;
        position: relative;
        cursor: pointer;

        &:hover {
          .stt-instagram-gradient {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            background: #222222;
          }
        }

        .stt-ico-instagram {
          position: absolute;
          opacity: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;

        }

        .stt-ico-instagram:hover {
          opacity: 1;


        }
      }

    }

    .stt-instagram-follow {
      text-align: center;

      .st-instagram-text {
        cursor: pointer;

        a {
          color: #d98e04;
        }
      }
    }
  }
}

.sidebar-widget{
  &.widget_archive{
    ul{
      padding: 0;
      li{
        color: #5a5a5a;
        margin-bottom: 15px;
        list-style: none;
        position: relative;
        a{
          color: #2a2a2a;
          font-size: 14px;
          font-family: "Avenir Medium";
          &:hover{
            color: #f2c84b;
          }
          &:before{
            content: '';
            height: 5px;
            width: 5px;
            background: #d8d8d8;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
            position: relative;
            top: -1px;
          }
        }
      }
    }
    select{
      display: block;
      padding: 7px 10px;
      border: 1px solid #dfdfdf;
      border-radius: 3px;
      font-size: 14px;
      font-family: "Avenir Medium";
      max-width: 100%;
      width: 100%;
    }
  }
  &.widget_calendar{
    table{
      thead{
        th{
          min-width: 35px;
          padding-top: 3px;
          padding-bottom: 3px;
        }
      }
      tbody{
        td{
          padding-top: 5px;
          padding-bottom: 5px;
          a{
            color: #f2c84b;
            font-family: "Avenir Medium";
          }
        }
      }
      tfoot{
        td{
          a{
            color: #f2c84b;
          }
          &#next{
            text-align: right;
          }
        }
      }
    }
  }
  &.widget_categories{
    ul{
      li{
        font-size: 14px;
        list-style: none;
        margin-bottom: 20px;
        position: relative;
        a{
          color: #2a2a2a;
          display: inline-block;
          vertical-align: middle;
          font-family: "Avenir Medium";
          &:hover, &.active{
            color: #f2c84b;
          }
          &.active{
            color: #f2c84b;
          }
          &:before{
            content: '';
            height: 5px;
            width: 5px;
            background: #d8d8d8;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
            position: relative;
            top: -1px;
          }
        }
        ul.children{
          margin-top: 20px;
          li{
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
    }
    select{
      display: block;
      padding: 7px 10px;
      border: 1px solid #dfdfdf;
      border-radius: 3px;
      font-size: 14px;
      font-family: "Avenir Medium";
      max-width: 100%;
      width: 100%;
    }
  }
  &.widget_pages{
    ul{
      li{
        font-size: 14px;
        list-style: none;
        margin-bottom: 20px;
        position: relative;
        a{
          color: #2a2a2a;
          display: inline-block;
          vertical-align: middle;
          font-family: "Avenir Medium";
          &:hover, &.active{
            color: #f2c84b;
          }
          &.active{
            color: #f2c84b;
          }
          &:before{
            content: '';
            height: 5px;
            width: 5px;
            background: #d8d8d8;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }
  &.widget_meta{
    ul{
      li{
        font-size: 14px;
        list-style: none;
        margin-bottom: 20px;
        position: relative;
        a{
          color: #2a2a2a;
          display: inline-block;
          vertical-align: middle;
          font-family: "Avenir Medium";
          &:hover, &.active{
            color: #f2c84b;
          }
          &.active{
            color: #f2c84b;
          }
          &:before{
            content: '';
            height: 5px;
            width: 5px;
            background: #d8d8d8;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }
  &.widget_recent_comments{
    ul{
      li{
        font-size: 14px;
        list-style: none;
        margin-bottom: 20px;
        position: relative;
        display: block;
        vertical-align: middle;
        color: #7a7a7a;
        font-style: italic;
        a{
          color: #2a2a2a;
          display: inline-block;
          vertical-align: middle;
          display: inline-block;
          vertical-align: middle;
          font-family: "Avenir Medium";
          font-style: normal;
          &:hover, &.active{
            color: #f2c84b;
          }
          &.active{
            color: #f2c84b;
          }
        }
        &:before{
          content: '';
          height: 5px;
          width: 5px;
          background: #d8d8d8;
          display: inline-block;
          border-radius: 50%;
          vertical-align: middle;
          margin-right: 10px;
          position: relative;
          top: -1px;
        }
      }
    }
  }
  &.widget_recent_entries{
    ul{
      li{
        font-size: 14px;
        list-style: none;
        margin-bottom: 20px;
        position: relative;
        a{
          color: #2a2a2a;
          display: inline-block;
          vertical-align: middle;
          font-family: "Avenir Medium";
          &:hover, &.active{
            color: #f2c84b;
          }
          &.active{
            color: #f2c84b;
          }
          &:before{
            content: '';
            height: 5px;
            width: 5px;
            background: #d8d8d8;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
            position: relative;
            top: -1px;
          }
        }
        .post-date{
          font-size: 12px;
          color: #5a5a5a;
          display: block;
          margin-left: 15px;
          font-style: italic;
        }
      }
    }
  }
  &.widget_rss{
    ul{
      li{
        font-size: 14px;
        list-style: none;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 20px;
        a{
          color: #2a2a2a;
          vertical-align: middle;
          display: inline-block;
          vertical-align: middle;
          font-family: "Avenir Medium";
          &:hover, &.active{
            color: #f2c84b;
          }
          &.active{
            color: #f2c84b;
          }
        }
        .rss-date{
          font-style: italic;
          font-size: 13px;
          display: block;
          margin-bottom: 10px;
          margin-top: 5px;
          color: #5a5a5a;
        }
        cite{
          display: block;
          margin-top: 10px;
          font-family: "Avenir Medium";
        }
        &:last-child{
          padding-bottom: 0;
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }
  }
  &.widget_search{
    form{
      .form-group{
        display: flex;
        align-items: center;
        input[type="text"]{
          min-height: 41px;
          border-radius: 0;
          border-right: none;
        }
        .hidden{
          min-height: 41px;
          min-width: 41px;
          background: #f2c84b;
          border: none;
        }
      }
    }
  }
  &.widget_text{
    strong{
      margin-bottom: 10px;
    }
    img{
      max-width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      height:auto;
    }
    select{
      display: block;
      padding: 7px 10px;
      border: 1px solid #dfdfdf;
      border-radius: 3px;
      font-size: 14px;
      font-family: "Avenir Medium";
      max-width: 100%;
      option{
        white-space: normal;
      }
    }
  }
  &.widget_nav_menu{
    ul{
      li{
        font-size: 14px;
        list-style: none;
        margin-bottom: 20px;
        position: relative;
        ul{
          padding-left: 0;
          margin-top: 15px;
          margin-left: 15px;
        }
        a{
          color: #2a2a2a;
          display: inline-block;
          vertical-align: middle;
          font-family: "Avenir Medium";
          &:hover, &.active{
            color: #f2c84b;
          }
          &.active{
            color: #f2c84b;
          }
          &:before{
            content: '';
            height: 5px;
            width: 5px;
            background: #d8d8d8;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }
  &.widget_tag_cloud{
    a{
      color: #2a2a2a;
      font-family: "Avenir Medium";
      font-size: 14px !important;
      border: 1px solid #eeeeee;
      display: inline-block;
      padding: 3px 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 3px;
      &:hover{
        color: #f2c84b;
      }
    }
  }
  &.widget_pages{
    ul{
      li{
        &.page_item_has_children{
          .children{
            margin-top: 20px;
          }
        }
      }
    }
  }
  &.widget_media_gallery{
    .gallery{
      .gallery-item{
        img{
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
