.stt-form-submit.style1 {
  margin-bottom: 10rem; }
  .stt-form-submit.style1 .form-submit .st-contact-form .st-contact-text span {
    margin-bottom: 0;
    color: #888888; }
    .stt-form-submit.style1 .form-submit .st-contact-form .st-contact-text span a {
      color: #d98e04;
      cursor: pointer; }
