@media (max-width: 1200px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 960px !important; } }

@media (max-width: 991px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 720px !important; } }

@media (max-width: 767px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 540px !important; } }

@media (max-width: 575px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 100% !important; } }
